@font-face {
    font-family: "NunitoSans-Regular";
    src: url('../../src/assets/fonts/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: "NunitoSans-Light";
    src: url('../../src/assets/fonts/NunitoSans-Light.ttf');
}

@font-face {
    font-family: "NunitoSans-Bold";
    src: url('../../src/assets/fonts/NunitoSans-Bold.ttf');
}